@media (max-width: 1440px) {
  .banner-text {
    padding: 0 100px;
    top: 400px;
  }
  .text-expert {
    padding: 100px;
  }
  .text-para {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .text-para {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .text-expert {
    padding: 10px;
  }
}
@media (max-width: 425px) {
  .text-expert {
    padding: 10px;
  }
  .para-main{
    width: 100%;

  }
}
