

@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: white white;
  overflow: -moz-scrollbars-none;
}

/* For WebKit (Chrome, Safari, Edge) */
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: white; /* Set scrollbar thumb color to white */
}

body::-webkit-scrollbar-track {
  background-color: black; /* Set scrollbar track color to white */
}

